data/Being Recognized as an Evil God, I Changed My Job to Guardian Deity of the Beastmen Country.json
data/Daybreak Summoner.json
data/Vampire Yukine.json
data/Yukine-chan’s Other World Reincarnation.json
*.epub
*.txt
*.json